<mat-card>
  <mat-card-header *ngIf="geopluginData && currentWeather">
    <div matTooltip="based on your geolocation">
      <span>Weather of {{geopluginData.geoplugin_city}}: at </span>
      <span>
        {{currentWeather.current_condition[0].localObsDateTime}}</span>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div flex fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start">
      <div fxFlex.gt-sm="40">
        <mat-card  >
          <mat-card-content *ngIf="currentWeather">
            <div flex fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
              <div fxFlex.gt-sm="30">
                <app-weather-widget [weatherDesc]="currentWeather.current_condition[0].weatherDesc[0].value" [dayLight]="currentWeather.current_condition[0].isDayTime=='yes'"
                  [humidity]="currentWeather.current_condition[0].humidity" [temp_C]="currentWeather.current_condition[0].temp_C"
                  [pressure]="currentWeather.current_condition[0].pressure" [mintempC]="currentWeather.weather[0].mintempC"
                  [maxtempC]="currentWeather.weather[0].maxtempC">
                </app-weather-widget>
              </div>
              <div fxFlex.gt-sm="70">
                <app-visualize-d3-weather [weatherData]="weatherData">
                </app-visualize-d3-weather>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex.gt-sm="60">
        <mat-accordion >
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Cities weather today
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card >
              <mat-card-content *ngIf="currentWeather">
                <div flex fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between center" style="text-align: center;margin: 3%;">
                  <div fxFlex.gt-sm="30" *ngFor="let city of citiesWeathers">
                    <app-city-dashboard-widget [name]="city.name" [temp_C]="city.temp_C" [condition]="city.condition"
                      style="padding: 1%;">
                    </app-city-dashboard-widget>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
